*{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

body{
    background-color: black;
    color: white;
    height: 100vh;
    background-size: cover;
}

ul{
    padding: 30px;
}

li{
    padding-bottom: 10px;
    /* transition: padding 0.3s; */
}

input[type="file"]{
    /* display: none; */
}