*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    user-select:none;
    -moz-user-select:none;
    -webkit-touch-callout:none;
    -webkit-touch-callout:none;
    -ms-user-select:none;
}

body{
    background-color: black;
    color: white;
    height: 100vh;
    background-size: cover;
}

ul{
    padding: 30px;
    height: 70vh;
    overflow: scroll;
}

ul::-webkit-scrollbar {
    display: none;
  }

li{
    padding-bottom: 10px;
    /* transition: padding 0.3s; */
}

input[type="file"]{
    display: none;
}